.header {
    width: 100px;
    height: 100px;
    margin: 10px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../imagens/logo.png");
}
